.My-bg-primary {
    background-color: #646464 !important;
}

.my-color {
    background-color: #d4bdb7 !important;
}

footer .my-row {
    width: 100%;
}

footer .row-cinza-claro {
    height: 200px;
    background-color: #646464;
}

footer .row-cinza-escuro {
    height: 50px;
    background-color: #333;
}

footer .pull-left {
    line-height: 51px;
    color: #d4bdb7;
    float: left !important;
}

footer .pull-right {
    line-height: 51px;
    color: #d4bdb7;
    float: right !important;
    margin-bottom: 0;
}

footer .my-row p {
	margin-bottom: 0px;
}

.my-text-navbar-color {
    color: #d4bdb7 !important;
    font-size: 12px !important;
    padding-right: 70px !important;
}

.my-text-navbrand-color {
    color: #d4bdb7 !important;
    padding-right: 125px !important;
}

